*{
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color:black ; */
}
#main{
  display: flex;
  height: 77vh;
  position: relative;
  top: 69px;
  background-color: black;

}
/* #sidebar{
  border: 1px solid black;
  height: 100%;
  width: 300px;
} */
#content{
  flex: 1;
  border: 1px solid black;
  height: 100%;
  overflow: auto;
  scrollbar-width: none;
}
#soundbox{
  position: relative;
  top: 4.1rem;
  height:12vh;
  background-color: black;
}
@media(max-width:500px){
  #main{
    top:57px;
    height: 80vh;
  }
  #soundbox{
  top:0.1rem;
  height:11vh;
  
}
}