*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px ;
}
#left{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    margin-left: 15px;
}
.icons{
    font-size:40px;
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 10px;
}
.search{
    padding: 10px;
    display: flex;
    gap: 6px;
    color: white;
    border-radius: 30px;
    background-color: rgb(35, 35, 35);
    input{
        background-color: rgb(35, 35, 35);
        border: none;
        width: 350px;
        font-size: large;
    }
    input:focus {
    border: none;
    outline: none; /* Optional: remove default blue outline */
}
}
#right{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    margin-right: 10px;
    padding-left: 10px;
    width: fit-content;
    height:50px;
}
#friends img{
    height: 20px;
    border-radius: 50%;
}
#friends{
    background-color: rgb(255, 255, 255);
    border-radius: 60px;
}
.icon2{
    font-size: large;
}
.explore:hover{
    transform: scale(1.1);
}
.install, #friends{
    opacity: 0.7;
}
.install:hover{
    opacity: 1;
    cursor: pointer;

}
.user{
    border: 2px solid white;
    width:27px;
    border-radius: 50%;
    text-align: center;
}
@media (max-width:500px){
    #left{
        gap: 10px;
        margin: 0;
    }
    .icons{
        font-size:25px ;
    }
    .search{
        width:280px;
        /* padding: 5px; */
        input{
            width:220px;

        }
    }
}