*{
    box-sizing: border-box;
    color: white;
}
#library{
    margin: 5px;
    border-radius: 10px;
    height: 96%;
    width: 97%;
    background-color: rgb(18, 18, 18);
    padding: 10px;
}

#lib_header{
    display: flex;
    align-items:baseline;
    gap: 7px;
    padding:0px 20px ;
    width:175px;
    img{
        height: 12px;
        width:16px;
        display: none;
    }
    p{
        font-size:17px;
        font-weight: 700;
    }
}

#library:hover{
    #lib_header img{
        display: block;
        
    }
}
#lib_cont{
padding-right: 18px;
}

.lib_button{
    border-radius: 20px;
    width: 6.2rem;
    background-color: rgb(35, 35, 35);
    transition: all 0.3s;
    border:none;
   
}

.lib_button:hover{
    background-color: rgb(59, 58, 58);
}
button{
    font-weight: 700;
}
#playlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
.crew{
    height: fit-content;
    margin-bottom: 25px;
    width: 290px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(32, 32, 32);
    h6{
        font-size: 1.1rem;
        font-weight: 700;
    }
    p{
        font-weight: 500;
    }
    button{
        font-weight: 700;
        margin-top: 5px;
    }
    button:hover{
        transform: scale(1.05);
    }
}